* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top {
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.top-text {
  padding: 20px 20px;
  color: gray;
}

main {
  width: 840px;
  margin: 50px auto;
}

.info1 {
  padding-bottom: 30px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 30px;
}

.info2 {
  padding-bottom: 30px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 30px;
}

.info3 {
  padding-bottom: 30px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 30px;
}

.info4 {
  padding-bottom: 30px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 30px;
}